.main {

  position: relative;
}
img {
  width:80%;
  }
body {
margin: 0px;
}
h2 {
  color: white;
}


.stairs {
background-color: red;
  height: 66px;
  width: 138px;
  position: absolute;
  top: 365px;
  left: 259px;

}
.st {
    background-color: red;
      position: absolute;
  width:100%;
  height:100%;
}

.stair {
  background-color: red;
    height: 123px;
    width: 72px;
    position: absolute;
    top: 689px;
    left: 593.5px}



.box1 {
  width:114px;
  height: 102px;
  background-color: #ff751a;
  padding-left: 20px;
  padding-top: 20px;
  position: absolute;
  top:8px;
  left: 262px;
}
.box2 {
  width:114.5px;
  height: 100px;
  background-color: #ff751a;
  padding-left: 20px;
  padding-top: 20px;
  position: absolute;
  top:138px;
  left: 261px;
}
.box3 {

width:115.5px;
  height: 78px;
  background-color: #ff751a;
  padding-left: 20px;
  padding-top: 15px;
  position: absolute;
  top:266px;
  left: 260px;
}
.open {
  width:113px;
  height: 103px;
  background-color: #ccff33;
  padding-left: 20px;
  padding-top: 20px;

  position: absolute;
  top:616px;
  left: 260px;
}
.box4 {
    width:112px;
    height: 102px;
    background-color: #ff751a;
    padding-left: 20px;
    padding-top: 20px;
    position: absolute;
    top:8px;
    left: 518px;
}
.box5 {
  width:114px;
  height: 96px;
  background-color: #ff751a;
  padding-left: 20px;
  padding-top: 20px;
  position: absolute;
  top:138px;
  left: 518px;
}
.box6 {
  width:114.5px;
    height: 80.5px;
    background-color: #ff751a;
    padding-left: 20px;
    padding-top: 15px;
    position: absolute;
    top:261.5px;
    left: 518.5px;
}
.Open{
  width:163.5px;
    height: 197px;
    background-color: #ccff33;
    padding-left: 50px;
    padding-top: 50px;
    border-style: solid;
    border-width: 0 0 0 4px;
    position: absolute;
    top:364px;
    left: 514.5px;
}
.princi {
  width:114px;
    height: 142px;
    background-color: #1ab2ff;
    padding-left: 15px;
    padding-top: 20px;
    position: absolute;
    top:448px;
    left: 737px;
}
.hod {
  width:138.5px;
    height: 142px;
    background-color: #1ab2ff;
    padding-left:10px;
    padding-top: 20px;

    position: absolute;
    top:448px;
    left: 871.5px;
}
.read {
  background-color: #1ab2ff;
    height: 121px;
    width: 136.5px;
    padding-left:20px;

    position: absolute;
    top: 689px;
    left: 672px;
  }
.lib {
  background-color: #1ab2ff;
    height: 92px;
    width: 146.5px;
    padding-left:40px;
    padding-top: 30px;
    position: absolute;
    top: 689px;
    left: 833.5px;
}
.hover-class:hover {
  background-color: violet;
}
.hover-class1:hover {
  background-color: violet;
}
h1 {
  font-size:2.2em;
  font-weight:bolder;
}


.data {
  background-color: white;
  box-sizing: border-box;
  line-height: 1.5;
  width:32%;
  height: 33.6%;
  padding-left: 5%;
  padding-top:2%;
  padding-right: 12%;
  border-style: solid;
  border-width: 8px; ;
  position: absolute;
  right: 20.8%;
  top: .2%;
}
.time {
  background-color: white;
  box-sizing: border-box;
  padding-top: .5%;
  padding-left: 2%;
  width:20%;
  height: 8%;
  border-style: solid;
  border-width: 8px ;
  position: absolute;
  right: 21.5%;
  top: 34%;
}
.t {
  margin: 0;
  padding: 0;
  color: black;
}
.data-inner{
  background-color: white;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 1.5%;
}
.notice {
  text-align: left;
}
p {
  font-size: 1.2em;
  font-weight: bolder;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 50%; /* Full width */
* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
button {
  background-color: yellow;
}
.preloader {
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(0,0,0,1);
  position: fixed;
  left: 0;
  top:0;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid grey;
  border-bottom: 16px solid grey;
  position: absolute;
  top: 25%;
  left: 45%;
  width: 4%;
  height: 8%;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 3s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.wel {
  background-color: yellow;
  position: absolute;
  width: 17%;
  top: 50%;
  -webkit-animation: move 5s linear infinite;
  animation: move 5s linear infinite;
}

@-webkit-keyframes move {
  0% { transform: rotate(0deg);background-color: yellow;left:0%;}
 25% { transform: rotate(90deg);background-color: green; left:25%; }
 50% { transform: rotate(180deg); background-color: blue; left:50%;}
 75% { transform: rotate(240deg); background-color: red; left:75%;}
  100% { transform: rotate(360deg); background-color: cyan; left:95%;}

}

@keyframes move {
  0% { transform: rotate(0deg);background-color: yellow;left:0%;}
 25% { transform: rotate(90deg);background-color: green; left:25%; }
 50% { transform: rotate(180deg); background-color: blue; left:50%;}
 75% { transform: rotate(240deg); background-color: red; left:75%;}
  100% { transform: rotate(360deg); background-color: cyan; left:95%;}
}
.pointer {
  pointer-events: auto;
}
.pointer1 {
  pointer-events:none;
}
